.header__link {
  margin: 0;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.header__link-logout {
  margin-left: 50px;
  color: #a9a9a9;
  cursor: pointer;
}
