.register__form_button {
  margin-top: 200px;
  padding: 14px 84px;
  background-color: white;
  color: black;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.register__form_button:hover {
  opacity: 85%;
}

@media screen and (max-width: 640px) {
  .register__form_button {
    margin-top: 173px;
  }
}
